<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lib_base">

    <application>
        <activity
            android:name=".ui.activity.CustomActivity"
            android:exported="true" />
        <activity
            android:name="com.example.baseapp.ui.activity.CustomErrorActivity"
            android:exported="true" />
    </application>

</manifest>