<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lib_main">

    <application>
        <activity
            android:name=".ui.activity.BeautyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activity.AboutComposeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activity.MPChartActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activity.AttributeAnimationActivity"
            android:exported="true" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

    </application>

</manifest>